.App {
  text-align: center;
}

a, a:hover {
  text-decoration: none;
  color: black;
}

#title {
  margin-top: 20px;
  color: rgb(32, 190, 177);
}

.main {
  background-color: rgb(32, 190, 177);
  color: white;
  width: 80%;
  border-radius: 20px;
  margin: auto;
  margin-top: 30px;
}

.form-group {
  margin-bottom: 2rem;
  padding-top: 10px;
}

#exampleEmail {
  width: 40%;
  text-align: center;
  margin: auto;
  border:2px solid rgb(82, 82, 82);
}

#examplePassword {
  width: 40%;
  text-align: center;
  margin: auto;
  border:2px solid rgb(82, 82, 82);
}

#btn_form {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 5px 5px rgb(21, 121, 112);
  border: rgb(32, 190, 177);
}

#btn_form a {
  color: rgb(32, 190, 177);
}

#btn_form a:hover {
  color: white;
}

#btn_form:hover {
  margin-bottom: 10px;
  background-color: rgb(137, 221, 214);
  box-shadow: 5px 5px rgb(62, 112, 108);
  border: rgb(32, 190, 177);
}

#navbar_contain a {
  color: white;
}

#navbar_contain_atual a {
  color: rgb(137, 221, 214);
}

.input-group {
  width: 50%;
  margin: auto;
  height: 60px;
  margin-top: 20px;
}

.form-control {
  height: calc(2.5em + 0.75rem + 8px);
}

.btn-secondary {
  background-color: rgb(62, 112, 108);
  margin-top: 20px;
  width: 20%;
  border: none;
  padding: 1.2rem 0.75rem;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
}

#btn_ordenar {
  margin-left: 40px;
  background-color: #39b6ad;
}

#btn_ordenar:hover {
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

#btn_inserir_novo {
  color: #fff;
  background-color: #5a6268;
}

#btn_inserir_novo:hover {
  -webkit-animation-name: example2;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s;
  /* Safari 4.0 - 8.0 */
  animation-name: example2;
  animation-duration: 2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

@-webkit-keyframes example2 {
  from {
    width: 20%;
    background-color: #5a6268;
    margin-top: 20px;
  }
  to {
    margin-top: 0px;
    width: 15%;
    background-color: #e6697a;
  }
}

/* Standard syntax */

@keyframes example2 {
  from {
    width: 20%;
    background-color: #5a6268;
    margin-top: 20px;
  }
  to {
    width: 15%;
    background-color: #e6697a;
    margin-top: 0px;
  }
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes example {
  from {
    width: 70%;
    background-color: #39b6ad;
    margin-bottom: 0;
  }
  to {
    width: 15%;
    background-color: #2f9790;
    margin-bottom: 20px;
  }
}

/* Standard syntax */

@keyframes example {
  from {
    width: 20%;
    background-color: #39b6ad;
    margin-top: 20px;
  }
  to {
    width: 15%;
    background-color: #2f7197;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 700px) {
  #exampleEmail {
    width: 60%;
    text-align: center;
    margin: auto;
  }
  #examplePassword {
    width: 60%;
    text-align: center;
    margin: auto;
  }
  .btn-secondary {
    width: 60%;
    border: none;
  }
  .btn-secondary:hover {
    color: #fff;
  }
}